services/n8n/workflows/input-parser.json
{
  "name": "atlas-input-parser",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "input-parser",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1000001-0000-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "atlas-input-parser",
      "credentials": {
        "httpHeaderAuth": {
          "id": "atlas-webhook-secret",
          "name": "Atlas Webhook Secret"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/input_messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $json.body.message_id }}" },
            { "name": "select", "value": "*" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "options": {}
      },
      "id": "a1000001-0000-4000-8000-000000000002",
      "name": "Fetch message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{$env.GEMINI_API_KEY}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"systemInstruction\": {\n    \"parts\": [{ \"text\": \"You are a payroll input parser. Given an unstructured HR message (email, Slack, WhatsApp), extract structured fields according to the strict schema. Return confidence_scores as decimals between 0 and 1 for each extracted field. Add ambiguity_flags for anything unclear (missing employee name, missing currency, unclear intent, etc.). Do not hallucinate values — use null if unsure. Do not wrap in markdown. Output ONLY the JSON object.\" }]\n  },\n  \"contents\": [{\n    \"role\": \"user\",\n    \"parts\": [{ \"text\": {{ JSON.stringify($json[0].raw_text) }} }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.1,\n    \"maxOutputTokens\": 800,\n    \"thinkingConfig\": { \"thinkingBudget\": 0 },\n    \"responseMimeType\": \"application/json\",\n    \"responseSchema\": {\n      \"type\": \"OBJECT\",\n      \"properties\": {\n        \"employee_name_guess\": { \"type\": \"STRING\", \"nullable\": true },\n        \"country_hint\": { \"type\": \"STRING\", \"nullable\": true },\n        \"change_type\": {\n          \"type\": \"STRING\",\n          \"enum\": [\"bonus\",\"address\",\"salary\",\"leave\",\"tax_code\",\"bank_change\",\"other\"]\n        },\n        \"amount\": { \"type\": \"NUMBER\", \"nullable\": true },\n        \"currency\": { \"type\": \"STRING\", \"nullable\": true },\n        \"effective_date\": { \"type\": \"STRING\", \"nullable\": true },\n        \"confidence_scores\": {\n          \"type\": \"OBJECT\",\n          \"properties\": {\n            \"employee\": { \"type\": \"NUMBER\" },\n            \"change_type\": { \"type\": \"NUMBER\" },\n            \"amount\": { \"type\": \"NUMBER\" },\n            \"effective_date\": { \"type\": \"NUMBER\" }\n          }\n        },\n        \"ambiguity_flags\": {\n          \"type\": \"ARRAY\",\n          \"items\": { \"type\": \"STRING\" }\n        }\n      },\n      \"required\": [\"change_type\",\"confidence_scores\",\"ambiguity_flags\"]\n    }\n  }\n}",
        "options": {}
      },
      "id": "a1000001-0000-4000-8000-000000000003",
      "name": "Gemini parse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "// Gemini 2.5 Flash returns JSON guaranteed by responseSchema.\nconst resp = $input.first().json;\nconst messageRow = $('Fetch message').first().json;\nconst messageId = messageRow.id;\n\nconst rawText = resp.candidates?.[0]?.content?.parts?.[0]?.text ?? '';\nif (!rawText) {\n  throw new Error('Empty Gemini response: ' + JSON.stringify(resp).slice(0, 300));\n}\nconst parsed = JSON.parse(rawText);\n\n// Overall confidence = min of per-field confidences, or 0.5 if none.\nconst scores = Object.values(parsed.confidence_scores ?? {});\nconst overall = scores.length\n  ? Math.min(...scores.map((n) => Number(n) || 0))\n  : 0.5;\n\nreturn [{\n  json: {\n    message_id: messageId,\n    parsed_fields: parsed,\n    ambiguity_flags: parsed.ambiguity_flags ?? [],\n    confidence_overall: Number(overall.toFixed(2)),\n    organization_id: messageRow.organization_id,\n  },\n}];"
      },
      "id": "a1000001-0000-4000-8000-000000000004",
      "name": "Parse + score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/input_parse_results",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message_id\": \"{{ $json.message_id }}\",\n  \"parsed_fields\": {{ JSON.stringify($json.parsed_fields) }},\n  \"ambiguity_flags\": {{ JSON.stringify($json.ambiguity_flags) }},\n  \"confidence_overall\": {{ $json.confidence_overall }},\n  \"status\": \"awaiting_approval\"\n}",
        "options": {}
      },
      "id": "a1000001-0000-4000-8000-000000000005",
      "name": "Insert parse_result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/audit_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"organization_id\": \"{{ $('Parse + score').first().json.organization_id }}\",\n  \"actor_type\": \"system\",\n  \"action\": \"input_parsed\",\n  \"target_type\": \"input_message\",\n  \"target_id\": \"{{ $('Parse + score').first().json.message_id }}\",\n  \"metadata\": { \"confidence\": {{ $('Parse + score').first().json.confidence_overall }}, \"model\": \"gemini-2.5-flash\", \"source\": \"input-parser-workflow\" }\n}",
        "options": {}
      },
      "id": "a1000001-0000-4000-8000-000000000006",
      "name": "Audit log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"parse_result_id\": \"{{ $('Insert parse_result').first().json[0].id }}\",\n  \"confidence\": {{ $('Parse + score').first().json.confidence_overall }},\n  \"ambiguity_flags\": {{ JSON.stringify($('Parse + score').first().json.ambiguity_flags) }},\n  \"model\": \"gemini-2.5-flash\"\n}",
        "options": {}
      },
      "id": "a1000001-0000-4000-8000-000000000007",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1660, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Fetch message", "type": "main", "index": 0 }]]
    },
    "Fetch message": {
      "main": [[{ "node": "Gemini parse", "type": "main", "index": 0 }]]
    },
    "Gemini parse": {
      "main": [[{ "node": "Parse + score", "type": "main", "index": 0 }]]
    },
    "Parse + score": {
      "main": [[{ "node": "Insert parse_result", "type": "main", "index": 0 }]]
    },
    "Insert parse_result": {
      "main": [[{ "node": "Audit log", "type": "main", "index": 0 }]]
    },
    "Audit log": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "versionId": "atlas-input-parser-v2-gemini",
  "meta": {
    "templateId": "atlas",
    "description": "NP-01 Input Parser, Gemini 2.5 Flash. Webhook -> fetch message -> Gemini (schema-enforced) -> score -> persist -> audit -> respond."
  },
  "pinData": {}
}
