services/n8n/workflows/termination-checklist.json
{
  "name": "atlas-termination-checklist",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "termination",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1000001-0000-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "atlas-termination",
      "credentials": {
        "httpHeaderAuth": {
          "id": "atlas-webhook-secret",
          "name": "Atlas Webhook Secret"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/employees",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $json.body.employee_id }}" },
            { "name": "select", "value": "*,countries(iso_code,name,currency,filing_forms,tax_authority)" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "options": {}
      },
      "id": "b1000001-0000-4000-8000-000000000002",
      "name": "Fetch employee + country",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{$env.GEMINI_API_KEY}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"systemInstruction\": {\n    \"parts\": [{ \"text\": \"You are a global payroll ops expert. Given an employee termination, generate a jurisdiction-specific checklist of items the payroll ops team must complete.\\n\\nCountry rules to apply:\\n- ZA: BCEA requires final pay by next regular payday; issue UI19 unemployment certificate; IRP5 tax certificate.\\n- UK: Follow contractual notice; issue P45 on or before last working day; P11D for benefits if applicable.\\n- US: CA mandates 72h for voluntary termination / immediate for involuntary; COBRA notice within 14 days; W-2 by Jan 31 of following year; state-specific rules vary.\\n- DE: Contractual notice period; final payslip (Lohnabrechnung); Sozialversicherungsnachweis.\\n- AU: Fair Work requires final pay within 7 days; PAYG summary; superannuation reconciliation.\\n- AE: End-of-service gratuity calculation per labour law; cancel work visa; WPS final transfer.\\n\\nCover these item types per country as applicable: final_pay, cobra, pension_dereg, pto_payout, garnishment_release, tax_certificate, direct_deposit_block (for deceased only), other.\\n\\nFor each item: set statutory_days as number of calendar days from last_working_day (0 for immediate). Pick owner_role as payroll, hr, finance, or legal.\\n\\nDo not wrap in markdown. Output ONLY the JSON array.\" }]\n  },\n  \"contents\": [{\n    \"role\": \"user\",\n    \"parts\": [{ \"text\": {{ JSON.stringify(JSON.stringify({ employee: (Array.isArray($json) ? $json[0] : $json), termination: { type: $('Webhook').first().json.body.termination_type, notice_date: $('Webhook').first().json.body.notice_date, last_working_day: $('Webhook').first().json.body.last_working_day, has_garnishments: $('Webhook').first().json.body.has_garnishments || false, has_pension: $('Webhook').first().json.body.has_pension || false } })) }} }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.2,\n    \"maxOutputTokens\": 2000,\n    \"thinkingConfig\": { \"thinkingBudget\": 0 },\n    \"responseMimeType\": \"application/json\",\n    \"responseSchema\": {\n      \"type\": \"ARRAY\",\n      \"items\": {\n        \"type\": \"OBJECT\",\n        \"properties\": {\n          \"item_type\": {\n            \"type\": \"STRING\",\n            \"enum\": [\"final_pay\",\"cobra\",\"pension_dereg\",\"pto_payout\",\"garnishment_release\",\"tax_certificate\",\"direct_deposit_block\",\"other\"]\n          },\n          \"description\": { \"type\": \"STRING\" },\n          \"statutory_days\": { \"type\": \"INTEGER\" },\n          \"owner_role\": {\n            \"type\": \"STRING\",\n            \"enum\": [\"payroll\",\"hr\",\"finance\",\"legal\"]\n          },\n          \"evidence_required\": { \"type\": \"STRING\" }\n        },\n        \"required\": [\"item_type\",\"description\",\"statutory_days\",\"owner_role\"]\n      }\n    }\n  }\n}",
        "options": {}
      },
      "id": "b1000001-0000-4000-8000-000000000003",
      "name": "Gemini checklist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "// Gemini returns a JSON array guaranteed by responseSchema.\nconst resp = $input.first().json;\nconst body = $('Webhook').first().json.body;\nconst rawFetch = $('Fetch employee + country').first().json;\nconst employee = Array.isArray(rawFetch) ? rawFetch[0] : rawFetch;\n\nconst rawText = resp.candidates?.[0]?.content?.parts?.[0]?.text ?? '';\nif (!rawText) throw new Error('Empty Gemini response');\nconst items = JSON.parse(rawText);\n\nconst lastDay = new Date(body.last_working_day);\nconst now = new Date();\nconst hoursToCutoff = (lastDay.getTime() - now.getTime()) / 3_600_000;\nconst urgent = hoursToCutoff < 2;\n\nconst enriched = items.map((item, i) => {\n  const deadline = new Date(lastDay);\n  deadline.setDate(deadline.getDate() + (Number(item.statutory_days) || 0));\n  return {\n    item_type: item.item_type,\n    description: item.description,\n    statutory_deadline: deadline.toISOString().slice(0, 10),\n    owner_role: item.owner_role,\n    position: i,\n    status: 'pending',\n  };\n});\n\nreturn [{\n  json: {\n    employee_id: employee.id,\n    organization_id: employee.organization_id,\n    termination_type: body.termination_type,\n    notice_date: body.notice_date,\n    last_working_day: body.last_working_day,\n    final_pay_deadline: enriched.find(i => i.item_type === 'final_pay')?.statutory_deadline ?? body.last_working_day,\n    checklist_items: enriched,\n    urgent,\n    hours_to_cutoff: Math.round(hoursToCutoff),\n    country_iso: employee.countries?.iso_code,\n  },\n}];"
      },
      "id": "b1000001-0000-4000-8000-000000000004",
      "name": "Structure checklist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/terminations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"employee_id\": \"{{ $json.employee_id }}\",\n  \"termination_type\": \"{{ $json.termination_type }}\",\n  \"notice_date\": \"{{ $json.notice_date }}\",\n  \"last_working_day\": \"{{ $json.last_working_day }}\",\n  \"final_pay_deadline\": \"{{ $json.final_pay_deadline }}\",\n  \"status\": \"in_progress\"\n}",
        "options": {}
      },
      "id": "b1000001-0000-4000-8000-000000000005",
      "name": "Insert termination",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 240]
    },
    {
      "parameters": {
        "jsCode": "// Attach termination_id to each checklist item for bulk insert.\nconst termRow = $input.first().json[0];\nconst structured = $('Structure checklist').first().json;\nconst items = structured.checklist_items.map((item) => ({\n  ...item,\n  termination_id: termRow.id,\n}));\nreturn [{ json: { termination: termRow, items, urgent: structured.urgent, hours_to_cutoff: structured.hours_to_cutoff, organization_id: structured.organization_id } }];"
      },
      "id": "b1000001-0000-4000-8000-000000000006",
      "name": "Attach termination_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/termination_checklist_items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.items) }}",
        "options": {}
      },
      "id": "b1000001-0000-4000-8000-000000000007",
      "name": "Bulk insert items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1660, 240]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "urgent-check",
              "leftValue": "={{ $('Structure checklist').first().json.urgent }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1000001-0000-4000-8000-000000000008",
      "name": "Urgent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1900, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/alerts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"organization_id\": \"{{ $('Attach termination_id').first().json.organization_id }}\",\n  \"severity\": \"crit\",\n  \"title\": \"Urgent termination — cutoff in {{ $('Attach termination_id').first().json.hours_to_cutoff }}h\",\n  \"body\": \"Checklist auto-generated with {{ $('Attach termination_id').first().json.items.length }} items. Review immediately.\",\n  \"link_url\": \"/app/people/terminations/{{ $('Attach termination_id').first().json.termination.id }}\",\n  \"source_feature\": \"termination_checklist\"\n}",
        "options": {}
      },
      "id": "b1000001-0000-4000-8000-000000000009",
      "name": "Create crit alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2140, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"termination_id\": \"{{ $('Attach termination_id').first().json.termination.id }}\",\n  \"checklist_items\": {{ JSON.stringify($('Attach termination_id').first().json.items) }},\n  \"urgent\": {{ $('Structure checklist').first().json.urgent }},\n  \"country\": \"{{ $('Structure checklist').first().json.country_iso }}\",\n  \"model\": \"gemini-2.5-flash\"\n}",
        "options": {}
      },
      "id": "b1000001-0000-4000-8000-000000000010",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2380, 240]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Fetch employee + country", "type": "main", "index": 0 }]]
    },
    "Fetch employee + country": {
      "main": [[{ "node": "Gemini checklist", "type": "main", "index": 0 }]]
    },
    "Gemini checklist": {
      "main": [[{ "node": "Structure checklist", "type": "main", "index": 0 }]]
    },
    "Structure checklist": {
      "main": [[{ "node": "Insert termination", "type": "main", "index": 0 }]]
    },
    "Insert termination": {
      "main": [[{ "node": "Attach termination_id", "type": "main", "index": 0 }]]
    },
    "Attach termination_id": {
      "main": [[{ "node": "Bulk insert items", "type": "main", "index": 0 }]]
    },
    "Bulk insert items": {
      "main": [[{ "node": "Urgent?", "type": "main", "index": 0 }]]
    },
    "Urgent?": {
      "main": [
        [{ "node": "Create crit alert", "type": "main", "index": 0 }],
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    },
    "Create crit alert": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "versionId": "atlas-termination-checklist-v2-gemini",
  "meta": {
    "templateId": "atlas",
    "description": "NP-20 + NP-07 Termination Checklist, Gemini 2.5 Flash. Webhook -> fetch employee -> Gemini (schema-enforced) -> structure + deadlines -> insert termination -> bulk insert items -> urgent IF -> optional alert -> respond."
  },
  "pinData": {}
}
