services/n8n/workflows/termination-checklist.json
{
  "name": "atlas-termination-checklist",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "termination",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1000001-0000-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "atlas-termination",
      "credentials": {
        "httpHeaderAuth": {
          "id": "atlas-webhook-secret",
          "name": "Atlas Webhook Secret"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/employees",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $json.body.employee_id }}" },
            { "name": "select", "value": "*,countries(iso_code,name,currency,filing_forms,tax_authority)" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "options": {}
      },
      "id": "b1000001-0000-4000-8000-000000000002",
      "name": "Fetch employee + country",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 2000,\n  \"system\": \"You are a global payroll ops expert. Given an employee termination, return a JSON array of jurisdiction-specific checklist items. Cover: final pay deadline per country/state, COBRA or statutory equivalent, pension/provident fund deregistration, PTO payout tax treatment, garnishment release notification, tax certificate issuance (IRP5/P45/W-2), direct deposit handling if deceased. Country rules — ZA: BCEA final pay by next regular payday + UI19; UK: contractual notice + P45; US: CA 72h voluntary / immediate involuntary, COBRA 14 days, state-specific; DE: contractual notice + final payslip; AU: Fair Work final pay within 7 days; AE: end-of-service gratuity. Schema per item: { item_type: 'final_pay'|'cobra'|'pension_dereg'|'pto_payout'|'garnishment_release'|'tax_certificate'|'direct_deposit_block'|'other', description: string, statutory_days: number (from last_working_day), owner_role: 'payroll'|'hr'|'finance'|'legal', evidence_required: string }. Return ONLY a JSON array. No prose.\",\n  \"messages\": [{ \"role\": \"user\", \"content\": {{ JSON.stringify({ employee: $json[0], termination: { type: $('Webhook').first().json.body.termination_type, notice_date: $('Webhook').first().json.body.notice_date, last_working_day: $('Webhook').first().json.body.last_working_day, has_garnishments: $('Webhook').first().json.body.has_garnishments, has_pension: $('Webhook').first().json.body.has_pension } }) }} }]\n}",
        "options": {}
      },
      "id": "b1000001-0000-4000-8000-000000000003",
      "name": "Claude Sonnet checklist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Sonnet output into structured checklist items with absolute deadlines.\nconst msg = $input.first().json;\nconst body = $('Webhook').first().json.body;\nconst employee = $('Fetch employee + country').first().json[0];\n\nconst rawText = msg.content?.[0]?.text ?? '';\nconst match = rawText.match(/\\[[\\s\\S]*\\]/);\nif (!match) throw new Error('No JSON array in Sonnet output');\nconst items = JSON.parse(match[0]);\n\nconst lastDay = new Date(body.last_working_day);\nconst now = new Date();\nconst hoursToCutoff = (lastDay.getTime() - now.getTime()) / 3_600_000;\nconst urgent = hoursToCutoff < 2;\n\nconst enriched = items.map((item, i) => {\n  const deadline = new Date(lastDay);\n  deadline.setDate(deadline.getDate() + (Number(item.statutory_days) || 0));\n  return {\n    item_type: item.item_type,\n    description: item.description,\n    statutory_deadline: deadline.toISOString().slice(0, 10),\n    owner_role: item.owner_role,\n    position: i,\n    status: 'pending',\n  };\n});\n\nreturn [{\n  json: {\n    employee_id: employee.id,\n    organization_id: employee.organization_id,\n    termination_type: body.termination_type,\n    notice_date: body.notice_date,\n    last_working_day: body.last_working_day,\n    final_pay_deadline: enriched.find(i => i.item_type === 'final_pay')?.statutory_deadline ?? body.last_working_day,\n    checklist_items: enriched,\n    urgent,\n    hours_to_cutoff: Math.round(hoursToCutoff),\n    country_iso: employee.countries?.iso_code,\n  },\n}];"
      },
      "id": "b1000001-0000-4000-8000-000000000004",
      "name": "Structure checklist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/terminations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"employee_id\": \"{{ $json.employee_id }}\",\n  \"termination_type\": \"{{ $json.termination_type }}\",\n  \"notice_date\": \"{{ $json.notice_date }}\",\n  \"last_working_day\": \"{{ $json.last_working_day }}\",\n  \"final_pay_deadline\": \"{{ $json.final_pay_deadline }}\",\n  \"status\": \"in_progress\"\n}",
        "options": {}
      },
      "id": "b1000001-0000-4000-8000-000000000005",
      "name": "Insert termination",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 240]
    },
    {
      "parameters": {
        "jsCode": "// Attach termination_id to each checklist item for bulk insert.\nconst termRow = $input.first().json[0];\nconst structured = $('Structure checklist').first().json;\nconst items = structured.checklist_items.map((item) => ({\n  ...item,\n  termination_id: termRow.id,\n}));\nreturn [{ json: { termination: termRow, items, urgent: structured.urgent, hours_to_cutoff: structured.hours_to_cutoff, organization_id: structured.organization_id } }];"
      },
      "id": "b1000001-0000-4000-8000-000000000006",
      "name": "Attach termination_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/termination_checklist_items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.items) }}",
        "options": {}
      },
      "id": "b1000001-0000-4000-8000-000000000007",
      "name": "Bulk insert items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1660, 240]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "urgent-check",
              "leftValue": "={{ $('Structure checklist').first().json.urgent }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1000001-0000-4000-8000-000000000008",
      "name": "Urgent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1900, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/alerts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"organization_id\": \"{{ $('Attach termination_id').first().json.organization_id }}\",\n  \"severity\": \"crit\",\n  \"title\": \"Urgent termination — cutoff in {{ $('Attach termination_id').first().json.hours_to_cutoff }}h\",\n  \"body\": \"Checklist auto-generated with {{ $('Attach termination_id').first().json.items.length }} items. Review immediately.\",\n  \"link_url\": \"/app/people/terminations/{{ $('Attach termination_id').first().json.termination.id }}\",\n  \"source_feature\": \"termination_checklist\"\n}",
        "options": {}
      },
      "id": "b1000001-0000-4000-8000-000000000009",
      "name": "Create crit alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2140, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"termination_id\": \"{{ $('Attach termination_id').first().json.termination.id }}\",\n  \"checklist_items\": {{ JSON.stringify($('Attach termination_id').first().json.items) }},\n  \"urgent\": {{ $('Structure checklist').first().json.urgent }},\n  \"country\": \"{{ $('Structure checklist').first().json.country_iso }}\"\n}",
        "options": {}
      },
      "id": "b1000001-0000-4000-8000-000000000010",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2380, 240]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Fetch employee + country", "type": "main", "index": 0 }]]
    },
    "Fetch employee + country": {
      "main": [[{ "node": "Claude Sonnet checklist", "type": "main", "index": 0 }]]
    },
    "Claude Sonnet checklist": {
      "main": [[{ "node": "Structure checklist", "type": "main", "index": 0 }]]
    },
    "Structure checklist": {
      "main": [[{ "node": "Insert termination", "type": "main", "index": 0 }]]
    },
    "Insert termination": {
      "main": [[{ "node": "Attach termination_id", "type": "main", "index": 0 }]]
    },
    "Attach termination_id": {
      "main": [[{ "node": "Bulk insert items", "type": "main", "index": 0 }]]
    },
    "Bulk insert items": {
      "main": [[{ "node": "Urgent?", "type": "main", "index": 0 }]]
    },
    "Urgent?": {
      "main": [
        [{ "node": "Create crit alert", "type": "main", "index": 0 }],
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    },
    "Create crit alert": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "versionId": "atlas-termination-checklist-v1",
  "meta": {
    "templateId": "atlas",
    "description": "NP-20 + NP-07 Termination Checklist. Webhook -> fetch employee -> Claude Sonnet jurisdiction prompt -> structure + deadlines -> insert termination -> bulk insert items -> urgent IF -> optional alert -> respond."
  },
  "pinData": {}
}
